.quiz-container[b-e63gf1aauy] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.quiz-container1[b-e63gf1aauy] {
    max-width: 600px;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}

.options[b-e63gf1aauy] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.option[b-e63gf1aauy] {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover[b-e63gf1aauy] {
    background-color: #e8e8e8;
}

.option.correct[b-e63gf1aauy] {
    background-color: #4CAF50;
    color: white;
}

.option.wrong[b-e63gf1aauy] {
    background-color: #f44336;
    color: white;
}

.option.selected[b-e63gf1aauy] {
    background-color: #0565FF;
    color: white;
}

.feedback[b-e63gf1aauy] {
    margin-top: 20px;
    font-weight: bold;
}

.feedback .correct[b-e63gf1aauy] {
    color: #4CAF50;
}

.feedback .wrong[b-e63gf1aauy] {
    color: #f44336;
}

.next-button[b-e63gf1aauy] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button[b-e63gf1aauy] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover[b-e63gf1aauy] {
    background-color: #45a049;
}

.back-button:hover[b-e63gf1aauy] {
    background-color: #45a049;
}

.results[b-e63gf1aauy] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
}
