<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getquizbydate-eye3b0e0ctambwey.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/53d10d4b-3042-4d92-b102-4ac3f63be8b5/resourceGroups/TegritTrivia/providers/Microsoft.Web/sites/GetQuizByDate</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://getquizbydate-eye3b0e0ctambwey.scm.centralus-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>